.loader-overlay {
  position: fixed;
  inset: 0;
  background: radial-gradient(circle, #400000, #0c0000);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 4000;
}

.loader-text {
  color: #ffce3b;
  font-size: 3rem;
  font-weight: 800;
  text-shadow: 0 0 25px rgba(255,217,0,0.8);
}
